<div class="frame" ng-controller="PageCtrl" ng-style="config.style">
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)">{{alert.info}}</alert>
  <div class="vertical_divider"></div>
  <div id="turn_left">
    <a href="#" ng-click="turnLeft()"><%= image_tag "left.png", class: "arrow" %></a>
  </div>
  <div id="turn_right">
    <a href="#" ng-click="turnRight()"><%= image_tag "right.png", class: "arrow" %></a>
  </div>
  <div id="settings">
    <a href="#" ng-click="settings()"><%= image_tag "settings.png", class: "gear" %></a>
  </div>
  <div id="save">
    <a href="#" ng-click="save()" ng-show="userSignedIn"><%= image_tag "save.png", class: "save" %></a>
  </div>
  <div id="sign_up" ng-hide="userSignedIn">
    <a href="#" ng-click="signUpIn()"><%= image_tag "sign_up.png", class: "sign_up" %></a>
  </div>
  <div id="sign_out" ng-show="userSignedIn">
    <a href="#" ng-click="signOut()"><%= image_tag "sign_out.png", class: "sign_out" %></a>
  </div>
  <div id="page_counter">
    {{currentPageIdx + 1}} / {{maxPages}}
  </div>
  <div class="header" ng-style="{backgroundColor: config.style.backgroundColor}" ng-click="addContent($event)"></div>
  <div class="paper" ng-click="addContent($event)">
    <div ng-repeat="textarea in currentPage.textareas">
      <textarea type="text"
        ng-keydown="textListener($event);"
        ng-click="$event.stopPropagation();"
        ng-model="currentPage.textareas[$index].content"
        ng-blur="removeIfEmpty($event, $index)"
        ng-mouseup="rememberDimensions($event, $index)"
        ng-style="textarea.style"
        focused-on="$last"
        autogrow
        id="textarea_{{$index}}"
        class="text_area autogrow-short">
        {{textarea.content}}
      </textarea>
    </div>
  </div>
  <%= render 'settings' %>
  <%= render 'sign_up_in' %>
  <%= render 'save' %>
</div>
<script>function getUser () { return <%=raw @user %> }</script>
