<div
  id="frame"
  ng-controller="PageCtrl"
  ng-style="config.style"
  ng-mousedown="action.start($event)"
  ng-mouseup="action.end($event)"
  ng-mousemove="textarea_s.move($event); curve.freehand($event); textarea_s.resize($event)"
  >
  <svg>
    <g fill="none" stroke="black" stroke-width="2px">
      <path svg ng-d="{{ curve.current.lineString }}" />
      <path svg ng-repeat="curve in pad.currentPage.curves" ng-d="{{ curve }}" />
    </g>
  </svg>
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" ng-mousedown="$event.stopPropagation();">
    {{ alert.info }}
  </alert>
  <div class="vertical_divider"></div>
  <div ng-controller="ControlCtrl" ng-mousedown="$event.stopPropagation();"">
    <div id="turn_left">
      <a href="" ng-click="turnLeft()"><%= image_tag "left.png", class: "arrow" %></a>
    </div>
    <div id="turn_right">
      <a href="" ng-click="turnRight()"><%= image_tag "right.png", class: "arrow" %></a>
    </div>
    <div id="settings">
      <a href="" ng-click="settings()"><%= image_tag "settings.png", class: "gear" %></a>
    </div>
    <div id="save">
      <a href="" ng-click="save()" ng-show="userSignedIn"><%= image_tag "save.png", class: "save" %></a>
    </div>
    <div id="sign_up" ng-hide="userSignedIn">
      <a href="" ng-click="signUpIn()"><%= image_tag "sign_up.png", class: "sign_up" %></a>
    </div>
    <div id="sign_out" ng-show="userSignedIn">
      <a href="" ng-click="signOut()"><%= image_tag "sign_out.png", class: "sign_out" %></a>
    </div>
    <div id="page_counter">
      {{pad.currentPageIdx + 1}} / {{pad.maxPages}}
    </div>
  </div>
  <div class="header" ng-style="{ backgroundColor: config.style.backgroundColor }"></div>
  <div class="paper">
    <div ng-repeat="textarea in pad.currentPage.textareas">
      <notepudding-textarea></notepudding-textarea>
    </div>
  </div>
  <%= render 'settings' %>
  <%= render 'sign_up_in' %>
  <%= render 'textarea' %>
  <%= render 'save' %>
</div>

<script>function getUser () { return <%=raw @user %> }</script>

