<div id="frame"
  ng-controller="PageCtrl"
  ng-style="config.style"
  ng-mousedown="startAction($event)"
  ng-mouseup="endAction($event)"
  ng-mousemove="moveAction($event); freehand($event); resize($event)"
  >
  <svg>
    <g fill="none" stroke="black" stroke-width="2px">
      <path svg ng-d="{{ currentCurve.lineString }}" />
      <path svg ng-repeat="curve in pad.currentPage.curves" ng-d="{{ curve }}" />
    </g>
  </svg>
  <alert ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)" ng-mousedown="$event.stopPropagation();">
    {{ alert.info }}
  </alert>
  <div class="vertical_divider"></div>
  <div ng-controller="ControlCtrl" ng-mousedown="$event.stopPropagation();"">
    <div id="turn_left">
      <a href="" ng-click="turnLeft()"><%= image_tag "left.png", class: "arrow" %></a>
    </div>
    <div id="turn_right">
      <a href="" ng-click="turnRight()"><%= image_tag "right.png", class: "arrow" %></a>
    </div>
    <div id="settings">
      <a href="" ng-click="settings()"><%= image_tag "settings.png", class: "gear" %></a>
    </div>
    <div id="save">
      <a href="" ng-click="save()" ng-show="userSignedIn"><%= image_tag "save.png", class: "save" %></a>
    </div>
    <div id="sign_up" ng-hide="userSignedIn">
      <a href="" ng-click="signUpIn()"><%= image_tag "sign_up.png", class: "sign_up" %></a>
    </div>
    <div id="sign_out" ng-show="userSignedIn">
      <a href="" ng-click="signOut()"><%= image_tag "sign_out.png", class: "sign_out" %></a>
    </div>
    <div id="page_counter">
      {{pad.currentPageIdx + 1}} / {{pad.maxPages}}
    </div>
  </div>
  <div class="header" ng-style="{backgroundColor: config.style.backgroundColor}"></div>
  <div class="paper">
    <div ng-repeat="textarea in pad.currentPage.textareas">
      <div class="textarea-div" ng-style="textarea.divStyle">
        <div class="move"
             ng-show="textarea.content && (isFocused || actionState == 'moving')"
             ng-mousedown="moveTheTarget($index)">
          <span class="glyphicon glyphicon-move"></span>
        </div>
        <div class="resize"
          ng-show="textarea.content && (isFocused || actionState == 'resizing')"
          ng-mousedown="resizeElement($index)">
          <span class="glyphicon glyphicon-resize-full"></span>
        </div>
        <textarea type="text"
          ng-keydown="textListener($event);"
          ng-click="$event.stopPropagation();"
          ng-mousedown="$event.stopPropagation();"
          ng-model="textarea.content"
          ng-blur="removeIfEmpty($event, $index); isFocused = false"
          ng-focus="isFocused = true"
          ng-init="isFocused = false"
          ng-style="textarea.textareaStyle"
          focused-on="$last"
          autosize
          class="text_area">
        </textarea>
    </div>
    </div>
  </div>
  <%= render 'settings' %>
  <%= render 'sign_up_in' %>
  <%= render 'save' %>
</div>

<script>function getUser () { return <%=raw @user %> };</script>

