<!DOCTYPE html>
<html ng-app="notepuddingApp">
<head>
  <title>Notepudding</title>
  <%= stylesheet_link_tag    "application", media: "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a href="<%= root_path %>"><%= image_tag "pudding.png", id: "pudding" %></a>
<%= yield %>
</body>
</html>
